[submodule "zsh/.config/zsh/plugins/zsh-completions"]
	path = zsh/.config/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/.config/zsh/plugins/z"]
	path = zsh/.config/zsh/plugins/z
	url = https://github.com/rupa/z
